table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: 20px auto;
}
th{
    border: 2px solid black;
    background-color: black;
    color: white
}
td{
    border: 2px solid black;
    padding: 3px;
}
tr:nth-child(odd){
    background-color: #afeeee ;
}

tr:nth-child(even){
    background-color: #98ff98;
}


